.main.movie {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;

  .overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 0;
    width: 100%;
    top: 100;
    height: 100%;
    overflow: auto;
    transition: 0.25s ease-out;
    padding-bottom: 25px;
  }
}